.article > h2 {
  @apply font-bold text-xl mb-2 mt-8;
}
.article p,
.article ul,
.article ol {
  @apply text-gray-700 mb-2;
}
.article img {
  @apply rounded-sm;
}
.article #table-of-contents + ul,
.article ol,
.article ul {
  @apply list-decimal list-inside;
}
.article blockquote > p {
  @apply rounded-md p-4 bg-gray-50;
}
code[class*="language-"],
pre[class*="language-"] {
  color: #f6f8fa;
  background: none;
  font-family: "Menlo", Monaco, Consolas, Courier New, monospace;
  font-size: 0.875rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.625;
  tab-size: 4;
  hyphens: none;
  width: 100%;
}
pre[class*="language-"] {
  @apply p-2 mt-2 mb-4 overflow-auto min-w-full;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #555;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
:not(pre) > code {
  font-size: 0.875rem;
}
:not(pre) > code:before,
:not(pre) > code:after {
  content: "`";
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #007400;
}
.token.operator,
.token.entity,
.token.url,
.token.string,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function,
.token.class-name {
  color: #dd4a68;
}
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
:not(pre) > code[class*="language-"] {
  background: #011627;
}
.token.attr-name {
  color: #007400;
  font-style: italic;
}
.token.comment {
  color: rgb(128, 147, 147);
}
.token.variable {
  color: rgb(214, 222, 235);
}
.token.number {
  color: rgb(247, 140, 108);
}
.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: #1c00cf;
}
.token.punctuation {
  color: #aa0d91;
}
.token.selector,
.token.doctype {
  color: #aa0d91;
  font-style: "italic";
}
.token.class-name {
  color: #a25a00;
}
.token.tag,
.token.operator,
.token.keyword {
  color: #aa0d91;
}
.token.boolean {
  color: rgb(255, 88, 116);
}
.token.property {
  color: #00756a;
}
.token.namespace {
  color: rgb(178, 204, 214);
}
code[class*="language-"],
pre[class*="language-"] {
  color: #555;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f6f8fa;
}
.mdx-marker {
  background-color: #2d3748;
}
.remark-code-title {
  background: #2d3748;
  color: #edf2f7;
  border: 1px solid #2d3748;
  padding: 0.5rem 1rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  background: #e2e8f0;
  color: #1a202c;
  border: 1px solid #e2e8f0;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0;
  width: 100%;
}
.remark-code-title + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
.article a {
  color: #0366d6;
}
:not(pre) > code {
  color: #8037ff;
}
.article blockquote > p {
  background: #f6f8fa;
}
.title > [aria-hidden="true"] {
  display: none;
}
