<footer class="mx-auto max-w-2xl flex justify-between items-center">
  <div class="py-4">
    <a
      href="https://github.com/ghoshnirmalya/nirmalyaghosh.com"
      class="p-4 text-sm hover:text-blue-700"
      target="_blank"
    >
      Source
    </a>
  </div>
  <div class="flex space-x-4">
    <a
      href="https://github.com/ghoshnirmalya"
      class="flex h-4"
      target="_blank"
    >
      <img src="/images/common/github-logo.svg" />
    </a>
    <a
      href="https://www.linkedin.com/in/ghoshnirmalya"
      class="flex h-4"
      target="_blank"
    >
      <img src="/images/common/linkedin-logo.svg" />
    </a>
    <a
      href="https://twitter.com/nirmalyaghosh23"
      class="flex h-4"
      target="_blank"
    >
      <img src="/images/common/twitter-logo.svg" />
    </a>
  </div>
</footer>
