<footer class="mx-auto max-w-2xl flex justify-between items-center text-sm">
  <div class="py-4">
    <a
      href="https://github.com/ghoshnirmalya/nirmalyaghosh.com"
      class="p-4 hover:text-blue-700"
      target="_blank"
      rel="noopener"
    >
      Source
    </a>
  </div>
  <div class="flex space-x-4">
    <a
      href="https://github.com/ghoshnirmalya"
      class="flex h-4"
      target="_blank"
      rel="noopener"
      aria-label="GitHub"
    >
      <img
        src="/images/common/github-logo.svg"
        alt="GitHub"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/ghoshnirmalya"
      class="flex h-4"
      target="_blank"
      rel="noopener"
      aria-label="LinkedIn"
    >
      <img
        src="/images/common/linkedin-logo.svg"
        alt="LinkedIn"
      />
    </a>
    <a
      href="https://twitter.com/nirmalyaghosh23"
      class="flex h-4"
      target="_blank"
      rel="noopener"
      aria-label="Twitter"
    >
      <img
        src="/images/common/twitter-logo.svg"
        alt="Twitter"
      />
    </a>
  </div>
</footer>
