<header class="mx-auto max-w-2xl flex justify-between text-sm font-semibold">
  <div class="py-4">
    <a href="/" class="p-4 hover:text-blue-700">Home</a>
  </div>
  <div class="py-4">
    <a href="/articles" class="p-4 hover:text-blue-700">Articles</a>
    <a href="/projects" class="p-4 hover:text-blue-700">Projects</a>
    <a href="/guides" class="p-4 hover:text-blue-700">Guides</a>
  </div>
</header>

