---
// Component Imports
import Navbar from '../components/Navbar.astro';

// Component Script:
const { content } = Astro.props;
---
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Example site to demonstrate how Astro works.">

    <title>"content.title"</title>

    <link rel="icon"
          type="image/svg+xml"
          href="/favicon.svg">
    <link rel="stylesheet" href="/tailwind.css" type="text/css" />
    <link rel="stylesheet" href="/prism.css" type="text/css" />
    <link rel="stylesheet" href="/code.css" type="text/css" />
  </head>

  <body class="bg-gray-100">
    <Navbar />
    <div class="mx-auto p-4 max-w-2xl">
      <main class="space-y-8">
        <div class="space-y-8">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
